@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&display=swap');

html {
  font: 13px 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.App {
  background-color: #eeeeee;
  color: #222222;
  height: 100%;
  position: fixed;
  width: 100%;
}

.App__content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 12px;
  width: 1024px;
}

.EventCreationForm {
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  box-shadow: 0 4px 4px #cccccc;
  box-sizing: border-box;
  margin: 16px 0;
  padding: 24px;
  position: relative;
}

.EventCreationForm__account-select {
  appearance: none;
  background-image: url(./images/expand_more-24px.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  box-shadow: 0 2px 2px #cccccc;
  color: #222222;
  cursor: pointer;
  font: 13px 'Montserrat', sans-serif;
  padding: 4px 24px 4px 8px;
}

.EventCreationForm__currency-input {
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  box-shadow: 0 2px 2px #cccccc;
  color: #222222;
  cursor: pointer;
  font: 13px 'Montserrat', sans-serif;
  padding: 4px 8px;
}

.EventCreationForm__label {
  margin: 0 4px;
}

.EventCreationForm__label-text {
  margin: 0 6px;
}

.EventCreationForm__ribbon {
  left: -1px;
  position: absolute;
  top: -1px;
}

.EventCreationForm__ribbon-path {
  fill: #008000;
  stroke: #bbbbbb;
}

.TitleBar {
  background-color: #ffffff;
  border-bottom: 1px solid #bbbbbb;
  box-shadow: 0 8px 8px #cccccc;
  position: sticky;
  top: 0;
  user-select: none;
}

.TitleBar__content {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
}

.TitleBar__nameplate {
  font: 2.2rem 'Cookie', cursive;
  margin: 0 12px;
}

.TitleBar__user-button {
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  display: flex;
  font: 13px 'Montserrat', sans-serif;
  outline: none;
  padding: 8px 12px;
  -webkit-tap-highlight-color: transparent;
}

.TitleBar__user-button:hover {
  background-color: #eeeeee;
  border-bottom: 1px solid #bbbbbb;
}

.TitleBar__user-button:active {
  background-color: #dddddd;
}

.TitleBar__user-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 4px;
}

@media (max-width: 800px) {
  .EventCreationForm {
    display: flex;
    flex-flow: column wrap;
  }

  .EventCreationForm__account-select {
    flex: 1 0 auto;
  }

  .EventCreationForm__currency-input {
    flex: 1 0 auto;
  }

  .EventCreationForm__label {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 8px 0;
    width: 100%;
  }

  .EventCreationForm__label-text {
    flex: 0 0 25%;
    margin: 0 8px;
    text-align: right;
  }
}
